---
---

@import "minima";

.footer-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.footer-legal {
  @include relative-font-size(0.9375);
  color: $grey-color;
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
