---
---

@import "minima";

.footer-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;

  @include media-query($on-palm) {
    grid-template-columns: 1fr;
  }
}

.footer-legal {
  @include relative-font-size(0.9375);
  color: $grey-color;
  white-space: nowrap;

  @include media-query($on-palm) {
    margin-top: $spacing-unit / 2;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
